#wrapper {
    width: 1300px;
}
#map {
    width: 700px;
    float:left;
}
#sliderEle {
    float:left;
    width: 300px;
    opacity: 0.3;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}
#sliderEle:hover {
    opacity: 1;
}


#sideRight {
    float:left;
}

#sliderText {
    float: left;
}

#test {
    position: absolute; 
}

#detailed {
    float:right;
}

#left {
    float:left;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}