#wrapper {
    width: 1300px;
    border: 1px solid black;
}
#map {
    width: 700px;
    border: 1px solid red;
    float:left;
}
#slider {
    border: 1px solid green;
    float:right;
}

#sideRight {
    border: 1px solid blue;
    float:left;
}

#test {
    border: 1px solid orange;
    position: absolute; 
}

#detailed {
    float:right;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}